body{
  background-color: #282c34;
}
.App {
  text-align: center;
  .App-header {
    color: #FFF;
  }
}

section.App-main{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .graphContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;;
    border: 2px solid #FFF;
    padding: 20px;
    border-radius: 10px;
    min-height: 300px;
    width: 80%;
    .title{
     color: #FFF;
    }
    .chart{
      stroke-width: 0.2;
      .ticks{
        font-size: 5px;
        color: #FFF
      }
    }
    .pie{
      margin: 0 auto;
    }
    .legend{
      display: flex;
      border-radius: 3px;
      margin: 0 auto;
      color:#FFF;
      flex-direction: row;
      justify-content: center;
      .item{
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        .name{
          margin: 0 10px;
        }
        .colorLine{
          margin-top: 6px;
          width: 20px;
          height: 8px;
        }
      }
    }
 }
}